@mixin cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0em;
    padding: 0em;
}


body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.canvas {
    background-color: red;
}

.canvas.a-canvas {
    cursor: none;
    background-color: red;
}

.canvas.a-canvas.a-mouse-cursor-hover {
    cursor: none;
}

.canvas.a-canvas.a-mouse-cursor-hover:hover {
    cursor: none;
}





.a-loader-title {
    display: none;
    width: 0em;
    opacity: 0;
}


.a-enter-vr {
    background: rgba(55, 55, 60, 0);

    .a-enter-vr-button {
        background: rgba(55, 55, 60, 0);
        border-radius: 0%;
        background-image: url('./Images/PNG/VR-icon.png');
        background-size: 90%;
        background-position: center;
        transform: scale(1);
        filter: invert(100%);

        &:hover {
            background-image: url('./Images/PNG/VR-icon.png');
            transform: scale(1.1);
        }
    }

    &:hover {
        background: rgba(55, 55, 60, 0);
    }

}

.the_info {
    position: absolute;
    @include cent();
    background-color: #f1f1f1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    bottom: 2%;
    left: 2%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: .5em solid #f1f1f1;
    // font-size: 1em;

    ion-icon {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        transition-duration: .1s;
    }

    ion-icon:nth-child(2) {
        opacity: 0;
    }


    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.the_info_active {

    ion-icon {
        opacity: 0;
    }

    ion-icon:nth-child(2) {
        opacity: 1;
    }
}


.the_gallery {
    border: .5em solid #f1f1f1;
    position: absolute;
    @include cent();
    background-color: #f1f1f1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    top: 2%;
    left: 2%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;


    &:hover {
        transform: scale(1.1);
    }

    ion-icon {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        transition-duration: .1s;
    }

    ion-icon:nth-child(2) {
        opacity: 0;
    }

}

.the_gallery_active {
    ion-icon {
        opacity: 0;
    }

    ion-icon:nth-child(2) {
        opacity: 1;
    }
}


.the_description {
    position: absolute;
    bottom: -200%;
    left: 2%;
    z-index: 16;
    width: 20em;
    height: auto;
    background-color: rgba(#f1f1f1, .7);
    padding: 1em;
    color: #000;
    @include cent();
    font-family: 'Roboto', sans-serif;
    border-radius: .5em;
    transition-duration: .1s;
}

.the_gallery_container {
    position: absolute;
    top: 10vh;
    left: -50vw;
    z-index: 10;
    width: 8em;
    height: 80vh;
    background-color: rgba(#f1f1f1, .9);
    border-radius: .5em;
    @include cent();
    flex-wrap: wrap;
    cursor: pointer;
    transition-duration: 1s;


    // background-color: salmon;
    .oneImage {
        width: 6em;
        height: 4em;
        background-image: url('./Images/gallery/Image-1.jpg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: .5em;

        &:hover {
            transform: scale(1.1);
        }
    }

    .oneImage:nth-child(2) {
        background-image: url('./Images/gallery/Image-2.jpg');
    }

    .oneImage:nth-child(3) {
        background-image: url('./Images/gallery/Image-3.jpg');
    }

    .oneImage:nth-child(4) {
        background-image: url('./Images/gallery/Image-4.jpg');
    }

    .oneImage:nth-child(5) {
        background-image: url('./Images/gallery/Image-5.jpg');
    }

    .oneImage:nth-child(6) {
        background-image: url('./Images/gallery/Image-6.jpg');
    }

    .oneImage:nth-child(7) {
        background-image: url('./Images/gallery/Image-7.jpg');
    }

    .oneImage:nth-child(8) {
        background-image: url('./Images/gallery/Image-8.jpg');
    }
}

.The_Image {
    position: absolute;
    width: 90vh;
    height: auto;
    top: -50%;
    left: 50%;
    border: .5em solid #f1f1f1;
    background-color: #f1f1f1;
    z-index: 10;
    border-radius: .5em;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 1s;

    img {

        transform: translate(0%, .3%);
    }

}

.The_Image_Back_Cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(#222, .7);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;

}


.logo {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5em;
    height: 5em;
    z-index: 10;
    // background-color: sandybrown;
    background-image: url('./Images/PNG/Logo.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.link_to_archviz {

    position: absolute;
    @include cent();
    border-radius: .2em;
    bottom: calc(2% + .3em);
    left: calc(2% + 7em);
    z-index: 10;
    padding: .3em;
    border: .1em solid #f1f1f1;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        transform: scale(1.1);
    }
}

@media all and (max-width: 1000px) {
    .The_Image {
        width: 93vw;
        left: 2.5vw;
        transform: translate(0%, -110%);
        border: .3em solid #f1f1f1;
        // top: -20vh;

        img {
            transform: translate(0%, .5%);
        }
    }

    .the_gallery_container {
        position: absolute;
        top: 50vh;
        left: -250vw;
        transform: translate(-.6em, 0%) scale(.9);
        width: 22em;
        height: 14em;
        background-color: rgba(#222, .0);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: .5em;
        grid-row-gap: .5em;


        // background-color: salmon;

        .oneImage {
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .link_to_archviz {
        height: 1.2em;
        top: 2%;
    }
}